@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 16px; }
  body.bd-bg {
    background: #1ab394; }

html {
  width: 100%;
  min-height: 100%; }

/*$designdraft为设计稿宽度，可以随时按照设计师发来的设计稿改动*/
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333; }

p {
  margin: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/*以下为各个主流移动设备宽度必须从大到小排列；
  ipad pro:1024px;
  ipad:768px;
  iphone6+:414px;
  iphone6:375px;
  iphone5:320px
  */
/*12栅格系统*/
@media screen and (max-width: 1024px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 136.53333px; } }

/*12栅格系统*/
@media screen and (max-width: 900px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 120px; } }

/*12栅格系统*/
@media screen and (max-width: 812px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 108.26667px; } }

/*12栅格系统*/
@media screen and (max-width: 800px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 106.66667px; } }

/*12栅格系统*/
@media screen and (max-width: 768px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 102.4px; } }

/*12栅格系统*/
@media screen and (max-width: 720px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 96px; } }

/*12栅格系统*/
@media screen and (max-width: 650px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 86.66667px; } }

/*12栅格系统*/
@media screen and (max-width: 590px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 78.66667px; } }

/*12栅格系统*/
@media screen and (max-width: 530px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 70.66667px; } }

/*12栅格系统*/
@media screen and (max-width: 500px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 66.66667px; } }

/*12栅格系统*/
@media screen and (max-width: 450px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 60px; } }

/*12栅格系统*/
@media screen and (max-width: 414px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 55.2px; } }

/*12栅格系统*/
@media screen and (max-width: 412px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 54.93333px; } }

/*12栅格系统*/
@media screen and (max-width: 384px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 51.2px; } }

/*12栅格系统*/
@media screen and (max-width: 375px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 50px; } }

/*12栅格系统*/
@media screen and (max-width: 360px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 48px; } }

/*12栅格系统*/
@media screen and (max-width: 320px) {
  html {
    /*使用rem，根据比例换算出需要的像素，6px等于.06rem*/
    font-size: 42.66667px; } }

.clearfix:after, .clearfix:before {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

.navbar {
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 18px;
  background: #313131; }

.content-wrap {
  width: 100%;
  height: auto;
  padding: .23rem .21rem; }
  .content-wrap .box {
    width: 100%;
    height: auto;
    padding-top: .57rem;
    padding-bottom: .5rem;
    background: #fff;
    border-radius: 6px; }
  .content-wrap .pic {
    width: 3.21rem;
    height: 2.11rem;
    margin: 0 auto;
    background-size: 100% 100%; }
  .content-wrap h1 {
    padding-top: .6rem;
    padding-bottom: .7rem;
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-size: .36rem;
    color: #333333; }

.list-wrap {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 .4rem 0 .4rem;
  list-style-type: none; }
  .list-wrap .list {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: .3rem;
    margin-bottom: .3rem;
    line-height: 100%;
    font-size: 15px; }
    .list-wrap .list:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #e6f2f0;
      transform: scaleY(0.5); }
    .list-wrap .list .name {
      width: 30%;
      text-align: left;
      color: #666666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .list-wrap .list .content {
      width: 70%;
      text-align: right;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .list-wrap .list:last-child:before {
    display: none; }

.link-button {
  width: 6.14rem;
  height: .72rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: .72rem;
  color: #fff;
  font-size: 15px;
  background: #1ab394;
  border-radius: 6px; }
  .link-button:active {
    background: #1b6b5b; }

.title {
  width: 100%;
  margin: 0;
  padding-top: .56rem;
  line-height: 100%;
  font-size: .6rem;
  font-weight: 400;
  text-align: center;
  font-family: "kaiti"; }

.gz-number {
  width: 100%;
  height: auto;
  padding-top: .56rem;
  line-height: 100%;
  text-align: right;
  font-family: 'SimSun';
  font-size: .38rem; }

.applicant {
  width: 100%;
  height: auto;
  line-height: .70rem;
  padding-top: .56rem;
  font-family: 'SimSun';
  font-size: .38rem; }
  .applicant .head {
    width: 1.52rem;
    height: auto; }
  .applicant .body {
    width: calc(100% - 1.52rem);
    height: auto; }

.gz-content, .inscribe {
  width: 100%;
  height: auto;
  padding-top: .56rem;
  font-family: 'SimSun';
  font-size: .38rem;
  line-height: .70rem; }
  .gz-content .org, .inscribe .org {
    text-align: right; }
  .gz-content .ins-name, .inscribe .ins-name {
    position: relative;
    width: 100%;
    height: auto; }
    .gz-content .ins-name .name-pic, .inscribe .ins-name .name-pic {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2rem;
      height: .76rem;
      background-size: 100% 100%; }
  .gz-content .notary, .inscribe .notary {
    text-align: right;
    padding-top: .56rem;
    padding-right: 2.3rem; }
  .gz-content .timestamp, .inscribe .timestamp {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 1.4rem; }
  .gz-content .timepic, .inscribe .timepic {
    position: absolute;
    right: 1.6rem;
    top: .8rem;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100% 100%; }
  .gz-content .time, .inscribe .time {
    padding-right: 1.2rem;
    text-align: right;
    padding-bottom: 5rem; }

.bd-password {
  background: url(../images/password_bg.jpg);
  background-size: cover; }

.input-box {
  margin: 0 auto;
  width: 5.7rem;
  height: auto; }
  .input-box .flex-box-input {
    width: 100%;
    height: .8rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    background: transparent; }
  .input-box .child-wrap {
    width: .8rem;
    height: 100%;
    display: inline-flex;
    background: transparent;
    border-bottom: 3px solid #717077; }
    .input-box .child-wrap.active {
      border-bottom: 3px solid #fff; }
  .input-box .child-input {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    background: transparent; }
  .input-box .text-content {
    width: 100%;
    height: .72rem;
    margin-bottom: .38rem;
    padding-left: .23rem;
    padding-right: .23rem;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 13px;
    color: #333;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 6px; }
  .input-box .false-hints {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: .8rem; }
    .input-box .false-hints.active {
      color: red; }

.logo-box {
  width: 3.24rem;
  height: 2.46rem;
  margin: 1.7rem auto .9rem auto;
  background: url(../images/logo.png);
  background-size: 100% 100%; }

.password-link {
  width: 6.9rem;
  height: .88rem;
  margin: 0 auto;
  text-align: center;
  line-height: .88rem;
  font-size: 18px;
  color: #fff;
  background: #1ab394;
  display: block;
  border-radius: 6px; }

.bg-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
  z-index: -1; }

.btnn {
  width: 100%;
  height: 20px;
  background: red;
  display: none; }
